.skillContainer {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skillContainer:not(:last-child) {
  border-bottom: 1px solid #588157;
}

@media (max-width: 1000px) {
  .skillContainer {
    width: 95%;
  }
}
