.aboutMeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  text-align: justify;
  width: 75%;
  font-size: 1.7em;
}

.myImage {
  width: 300px;
  border: 3px solid #588157;
  border-radius: 15px;
  margin: 0 20px;
  filter: drop-shadow(3px 3px 1px #344e41);
  transition-property: transform filter;
  transition-duration: 0.3s;
}

.myImage:hover {
  transform: scale(1.05);
  filter: drop-shadow(15px 15px 4px #344e41);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .aboutMeContainer {
    flex-direction: column-reverse;
  }
  .aboutMe {
    text-align: center;
    line-height: 25px;
    width: 90%;
  }
}

@media (max-width: 350px) {
  .myImage {
    width: 200px;
    margin: 0 10px;
  }
}
