.tileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  list-style: none;
}

.tileTitle {
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid #588157;
}

.tileTitleTags {
  color: #919191;
  font-size: 0.9em;
}

.tileImage {
  width: 450px;
  height: 450px;
  border: 3px solid #588157;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 3px 1px #344e41) grayscale(0.8) opacity(0.75);
  transition-property: transform filter;
  transition-duration: 0.3s;
}

.tileImage:hover,
.tileImage:active {
  transform: scale(1.05);
  filter: drop-shadow(15px 15px 4px #344e41) grayscale(0) opacity(1);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .tileImage {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 350px) {
  .tileImage {
    height: 200px;
    width: 200px;
  }
}