.tileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  list-style: none;
}

.tileTitle {
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid #588157;
}

.tileTitleTags {
  color: #919191;
  font-size: 0.9em;
}

.tileImage {
  width: 450px;
  height: 450px;
  border: 3px solid #588157;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
}

.tileImage:hover,
.tileImage:active {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .tileImage {
    height: 300px;
    width: 300px;
    transition: none;
  }
  .tileImage:hover,
  .tileImage:active {
    transform: scale(1);
  }
}

@media (max-width: 350px) {
  .tileImage {
    height: 200px;
    width: 200px;
  }
}
