/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  /* font-family: "Share Tech", sans-serif; */
  font-family: "VT323", monospace;
  overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, #344e41, #588157);
  color: #dad7cd;
  text-shadow: 2px 2px 1px black;
  line-height: 35px;
  word-spacing: 1px;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

@media (max-width: 2050px) {
  body {
    font-size: 0.75em;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.6em;
  }
}
